html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 background-color:aliceblue;
}

.sidebar{
    background-color:lightblue;
    
}



.nav-link {
    color: navy;
}

a{
    cursor: pointer;
}

.navibar {
    background-color: lightblue;
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 3;
    text-align: left;
    background-color: white;
}

th {
    background-color: #f2f2f2;
}

.invalid-placeholder::placeholder{
    color:red;
}

.invalid-date {
    border-color: red;
    color: red;
}