<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop.styles.css" asp-append-version="true" />
    <style>
        #dropdownMenuLink {
            color: darkred;
        }

            #category-name {
                color: brown;
            }
    </style>
</head>
<body>
   
    <header>
        
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid p-0">
            <div class="d-flex justify-content-between w-100">
                <div class="p-0">
                    <a class="nav-link" href="#">  <img src="\img\logomak_logo (2) (1).png" style="height:50px;" /> </a>
                </div>
                

                <div class=" m-1 p-0">
                        <div class="cart-link position-relative">

                            <div class="mt-2">
                                <a class="nav-link p-0" href="/ShopCart/IndexShopCart/">
                                    <img src="\img\png-transparent-shopping-cart-icon-shopping-cart-black-design-trade-thumbnail (1) (2).png" />
                                </a>
                            </div>
                           

                            @if (ViewBag.ItemsCount > 0)
                            {
                                <div class="mt-2 position-absolute bottom-50 start-50 translate-middle">
                                  
                                    <span class="badge bg-danger rounded-pill">@ViewBag.ItemsCount</span>
                                </div>
                            }
                        

                        </div>
                </div>
             
            </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="d-flex justify-content-between w-100">
                    <div class="dropdown">
                        <a  class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Kategorie
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @foreach (var category in ViewBag.Menu)
                            {
                                <li>
                                    <a id="category-name" class="category-name nav-link d-flex align-items-center ms-2 pt-0" href="/Products/List?categoryId=@category.Category.Id">
                                        @category.Category.name
                                    </a>
                                </li>
                            }
                            
                        </ul>
                       @*  <ul class="navbar-nav flex-grow-1 justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
                                </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Tour</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Enterprise</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>

                        </ul> *@
                    </div>

                    <div class="ms-auto">
                        <input type="search" class="form-control form-control-dark text-bg-dark" name="query" placeholder="Szukaj po nazwie..." aria-label="Search">
                    </div>

                </div>
            </div>
       
        </nav>
        
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://jqueryui.com/resources/demos/datepicker/i18n/datepicker-pl.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
