@* <div class="row col-lg-8 mt-5 mb-2 align-items-end">
    @if (Model.Products != null)
    {
        foreach (ProductDetails products in Model.Products)
        {
            @Html.Partial("AllProducts", products)

        }
    }
    </div> *@

<div class="row product-grid">
    @if (Model.Products != null)
    {
        foreach (ProductDetails products in Model.Products)
        {
            @Html.Partial("AllProducts", products)

        }
    }
</div>