   
<div class="row justify-content-between">
    <div class="row col-lg-2"></div>
    <div class="row product-grid col-lg-9 mt-2 align-items-end">
        @if (Model.Products != null)
        {
            foreach (ProductDetails products in Model.Products)
            {
                @Html.Partial("AllProducts", products)

            }
        }
    </div>
  
</div>